Repository Waidhoferj/CSC-308-309-Project, pull requests merged in 2021-03, with the labels that each got.

#28 Art Map Screen to match Mockup
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/MetricBadge/MetricBadge.jsx
  frontend/src/components/Tag/Tag.jsx
  frontend/src/components/Tag/Tag.scss
  frontend/src/index.css
  frontend/src/pages/ArtMap/ArtMap.jsx
  frontend/src/pages/ArtMap/ArtMap.scss
  frontend/src/pages/ArtMap/art-areas.json
  frontend/src/pages/ArtMap/components/ArtChoices.jsx
  frontend/src/pages/ArtMap/components/ArtInfo.jsx
  frontend/src/pages/ArtMap/components/Card.jsx
  frontend/src/pages/ArtMap/components/DirectionsCard.jsx
  frontend/src/pages/Compass/Compass.jsx
  frontend/src/pages/Compass/Compass.scss
  frontend/src/styles/_utils.scss
Labels: enhancement

#30 Added top level sass styling file
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/index.js
  frontend/src/index.scss
Labels: enhancement

#38 GraphQL Integration between frontend and backend
  backend/Pipfile
  backend/Pipfile.lock
  backend/app.py
  backend/database.py
  backend/models.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/example-art.jpg
  frontend/src/components/Tag/Tag.scss
  frontend/src/graphql-config.js
  frontend/src/index.scss
  frontend/src/pages/ArtMap/ArtMap.jsx
  frontend/src/pages/ArtMap/ArtMap.scss
  frontend/src/pages/ArtMap/components/ArtInfo.jsx
  frontend/src/pages/ArtMap/queries.js
  frontend/src/pages/Artwork/Artwork.jsx
  frontend/src/pages/Artwork/Artwork.scss
  frontend/yarn.lock
Labels: 5 hours, backend, enhancement, frontend

#40 Added basic profile page
  .gitignore
  frontend/src/App.js
  frontend/src/assets/example-profile.jpg
  frontend/src/components/MetricBadge/MetricBadge.jsx
  frontend/src/index.scss
  frontend/src/pages/Profile/Profile.jsx
  frontend/src/pages/Profile/Profile.scss
Labels: 3 hours, frontend

#44 Added map animations
  frontend/src/pages/ArtMap/ArtMap.jsx
  frontend/src/pages/ArtMap/ArtMap.scss
Labels: enhancement, frontend

#42 Connect artwork page to backend, retrieve title, description, and tags
  frontend/src/components/ConnectionErrorMessage/ConnectionErrorMessage.jsx
  frontend/src/components/ConnectionErrorMessage/ConnectionErrorMessage.scss
  frontend/src/pages/Artwork/Artwork.jsx
  frontend/src/pages/Profile/Profile.jsx
Labels: frontend

#45 hooks and touchups
  frontend/src/hooks/usePhotoLibrary.js
  frontend/src/hooks/useProfileInfo.js
  frontend/src/pages/ArtMap/ArtMap.scss
  frontend/src/pages/ArtMap/components/ArtChoices.jsx
  frontend/src/pages/Camera/Camera.jsx
  frontend/src/pages/Camera/Camera.scss
  frontend/src/pages/Camera/components/CameraCapture.jsx
  frontend/src/pages/Camera/components/PhotoGallery.jsx
  frontend/src/pages/Profile/Profile.jsx
Labels: enhancement, frontend

#52 Added Portfolio Page
  backend/.vscode/launch.json
  backend/assets/sample-artworks/camila-waz-2l5U8g4f8hQ-unsplash.jpg
  backend/assets/sample-artworks/jon-tyson-HuRTqaEMD4I-unsplash.jpg
  backend/assets/sample-artworks/luis-alfonso-orellana-WjIB-6UxA5Q-unsplash.jpg
  backend/assets/sample-artworks/mike-von-aaWaG-raMNw-unsplash.jpg
  backend/testing.py
  frontend/src/App.js
  frontend/src/pages/Portfolio/Portfolio.jsx
  frontend/src/pages/Portfolio/Portfolio.scss
Labels: 1 hour, backend, enhancement, frontend

#51 App Navigation
  frontend/src/App.js
  frontend/src/components/TabBar/TabBar.jsx
  frontend/src/components/TabBar/TabBar.scss
  frontend/src/index.scss
  frontend/src/pages/ArtMap/ArtMap.scss
Labels: 1 hour, enhancement, frontend

#54 Added global user
  frontend/src/App.js
  frontend/src/hooks/useProfileInfo.js
  frontend/src/index.js
  frontend/src/pages/Profile/Profile.jsx
Labels: 1 hour, enhancement, frontend

#53 Claim Artwork on the Map
  backend/database.py
  frontend/src/pages/ArtMap/ArtMap.jsx
  frontend/src/pages/ArtMap/ArtMap.scss
  frontend/src/pages/ArtMap/components/ArtInfo.jsx
  frontend/src/pages/ArtMap/queries.js
  frontend/src/pages/Artwork/Artwork.jsx
Labels: 3 hours, enhancement, frontend

#57 Fixed Map Cards
  frontend/src/pages/ArtMap/ArtMap.jsx
  frontend/src/pages/ArtMap/ArtMap.scss
Labels: 1 hour, bug, frontend

#59 Art Submission
  backend/mutations.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useProfileInfo.js
  frontend/src/index.scss
  frontend/src/pages/ArtSubmission/ArtSubmission.jsx
  frontend/src/pages/ArtSubmission/ArtSubmission.scss
  frontend/src/pages/Camera/components/CameraCapture.jsx
  frontend/src/pages/Camera/components/PhotoGallery.jsx
  frontend/src/pages/Portfolio/Portfolio.jsx
  frontend/src/pages/Portfolio/Portfolio.scss
  frontend/yarn.lock
Labels: 3 hours, enhancement, frontend

#60 Visited Artwork Indicators
  frontend/src/components/TabBar/TabBar.scss
  frontend/src/hooks/useProfileInfo.js
  frontend/src/pages/ArtMap/ArtMap.jsx
  frontend/src/pages/ArtMap/ArtMap.scss
  frontend/src/pages/ArtMap/components/ArtChoices.jsx
  frontend/src/pages/ArtMap/components/ArtInfo.jsx
  frontend/src/pages/ArtMap/queries.js
  frontend/src/pages/ArtSubmission/ArtSubmission.jsx
  frontend/src/pages/Artwork/Artwork.scss
  frontend/src/pages/Portfolio/Portfolio.jsx
Labels: 3 hours, enhancement, frontend
