Repository Waidhoferj/CSC-308-309-Project, pull requests merged in 2021-05, with the labels that each got.

#107 Generalized Discussion Page
  backend/mutations.py
  backend/schema.py
  backend/testing.py
  frontend/src/App.js
  frontend/src/components/MetricBadge/MetricBadge.tsx
  frontend/src/components/Spinner/Spinner.tsx
  frontend/src/global.d.ts
  frontend/src/index.scss
  frontend/src/pages/Artwork/Artwork.tsx
  frontend/src/pages/Artwork/gql.ts
  frontend/src/pages/Discussion/Discussion.scss
  frontend/src/pages/Discussion/Discussion.tsx
  frontend/src/pages/Groups/GroupPage/GroupPage.tsx
  frontend/src/pages/Groups/GroupPage/gql.ts
  frontend/src/pages/Groups/GroupsList/GroupsList.jsx
  frontend/src/pages/Groups/GroupsList/GroupsList.scss
  frontend/src/pages/ReportArtwork/ReportArtwork.jsx
Labels: 5 hours, enhancement, frontend

#108 Update react and react-dom package versions
  frontend/package.json
  frontend/yarn.lock
Labels: bug, frontend

#109 iPhone bug fixes
  frontend/src/App.js
  frontend/src/index.scss
  frontend/src/pages/Artwork/Artwork.scss
  frontend/src/pages/Groups/GroupsList/GroupsList.scss
Labels: 1 hour, bug, frontend

#114 Added Loading Spinners
  frontend/src/pages/Artwork/Artwork.tsx
  frontend/src/pages/Groups/GroupPage/GroupPage.tsx
  frontend/src/pages/Groups/GroupPage/gql.ts
  frontend/src/pages/Portfolio/Portfolio.tsx
Labels: 1 hour, frontend

#131 added persistent auth
  frontend/package.json
  frontend/src/App.js
  frontend/src/auth.ts
  frontend/src/components/ProtectedRoute/ProtectedRoute.tsx
  frontend/src/hooks/useProfileInfo.ts
  frontend/src/pages/Login/Login.jsx
  frontend/src/pages/Profile/Profile.jsx
  frontend/src/pages/SignUp/SignUp.jsx
  frontend/src/pages/SignUp/SignUp.scss
  frontend/yarn.lock
Labels: 8+ hours, frontend

#133 GroupPage Artwork Overlap
  frontend/src/pages/Groups/GroupPage/GroupPage.scss
Labels: 1 hour, frontend

#136 Add Artwork to Group
  backend/database.py
  backend/testing.py
  frontend/src/components/Drawer/Drawer.scss
  frontend/src/components/Drawer/Drawer.tsx
  frontend/src/components/ProtectedRoute/ProtectedRoute.tsx
  frontend/src/index.scss
  frontend/src/pages/Artwork/Artwork.scss
  frontend/src/pages/Artwork/Artwork.tsx
  frontend/src/pages/Artwork/gql.ts
  frontend/src/pages/Groups/GroupPage/GroupPage.tsx
Labels: 3 hours, frontend

#141 Add Toasts to App
  frontend/package.json
  frontend/src/App.js
  frontend/src/pages/Artwork/Artwork.tsx
  frontend/yarn.lock
Labels: frontend
